<div class="login-container">
  <mat-card>
    @if(isLoading) {
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    }
    <mat-card-header>
      <h1 mat-card-title class="login-title">Login</h1>
      <p mat-card-subtitle class="login-subtitle">Use test / password to login</p>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        
        <mat-form-field appearance="outline" class="username-field">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username">
          
          @if (loginForm.get('username')?.hasError('required')) {
            <mat-error>Username is a required field</mat-error>
          }

        </mat-form-field>
        
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password">

          @if (loginForm.get('password')?.hasError('required')) {
            <mat-error>Password is a required field</mat-error>
          }

        </mat-form-field>
        
        @if(errorMessage) {
          <p class="error-message">{{ errorMessage }}</p>
        }
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="isLoading || loginForm.invalid">
        Login
      </button>
    </mat-card-actions>
  </mat-card>
</div>